@layer payload-default {
  .admin-search-plugin-bar {
    padding: 0;
    max-width: 270px;
  }

  .admin-search-plugin-bar .btn__label {
    width: 100%;
  }

  /* Only apply to .shortcut-key and .search-filter__input when inside .search-bar__wrap */
  .admin-search-plugin-bar__wrap .admin-search-plugin-bar__shortcut,
  .admin-search-plugin-bar__wrap .admin-search-plugin-bar__input {
    display: inline;
  }

  .admin-search-plugin-bar__wrap {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: var(--theme-elevation-50);
    border-radius: var(--style-radius-m);
    padding: 6px 12px;
    gap: 12px;
  }

  .admin-search-plugin-bar__wrap svg {
    font-weight: 800;
    height: 30px;
    width: 30px;
  }

  .admin-search-plugin-bar__wrap .admin-search-plugin-bar__input {
    background: transparent;
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    color: var(--theme-elevation-900);
    pointer-events: none;
  }

  .admin-search-plugin-bar.position-actions {
    margin-right: 100px;
  }

  @media (max-width: 780px) {
    .admin-search-plugin-bar.position-actions {
      margin-right: 0px;
    }

    /* Only hide when inside .search-bar__wrap */
    .admin-search-plugin-bar__wrap .admin-search-plugin-bar__shortcut,
    .admin-search-plugin-bar__wrap .admin-search-plugin-bar__input {
      display: none;
    }
  }
}